$cardSize: 200px;
.card {
  width: $cardSize;
  height: $cardSize;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 50px;
  border-radius: 20px/15px;
  box-shadow: 0 0 8px 0 #383838;
}