// SideBar
$sidebarWidth: 240px;

body {
  background-color: #ccd1d5;
}

.homePage {
  h2{
    font-size: 36px;
    color: #009696;
    margin: 0 0 0 100px;
    padding-top: 20px;
  }
}

.sidebarSize {
  padding-left: $sidebarWidth;
}

@media screen and (max-width: 960px) {
  .sidebarSize {
    padding-left: 0!important;
  }
  .homePage {
    h2 {
      margin: 0!important;
      text-align: center!important;
    }
  }
}